.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-bottom: 20px;
}

.homePage {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
  gap: 20px;
  @media screen and (min-width: 768px) {
    gap: 26px;
  }
  @media screen and (min-width: 1200px) {
    gap: 38px;
  }
}

.loadBtn {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #ebd8ff;
  background: linear-gradient(45deg, #471ca9, #333);
  box-shadow: 0px 3.4px 3.4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  width: 196px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  &:hover {
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(113, 232, 188, 0.715);
    background: #5cd3a8;
  }
  &:focus {
    border-color: transparent;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  }
}
