.header {
  padding: 20px;
  height: 100px;
  background: linear-gradient(45deg, #471ca9, #333);
  margin-bottom: 20px;
  padding: 30px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.btn_tweets {
  display: block;
  padding: 5px 20px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #ebd8ff;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(113, 232, 188, 0.715);
    background-color: rgba(113, 232, 188, 0.715);
    color: white;
  }
  &:focus {
    color: white;
  }
}
.btn_home {
  display: block;
  padding: 5px 20px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(113, 232, 188, 0.715);
    box-shadow: -2.5777px 6.87386px 20.6216px rgb(126, 89, 211);
    color: #ebd8ff;
  }
  &:focus {
    color: #ebd8ff;
  }
}
